
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/vuE/vue.js"></script>
    @*<script src="~/lib/vuE/vue-resource.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vuE/axios.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Add</title>
</head>
<body>
    <div>
        <h2>消息通知</h2>
       
    </div>

    <div id="AccountAdd" class="modal-body">
        <table class="table table-hover">
            <tr>
                <td>发布内容</td>
                <td><input type="text" v-model="releasecontent" /></td>
            </tr>
            <tr>
                <td>状态</td>
                <td><input type="text" v-model="status" /></td>
            </tr>
            <tr>
                <td>发布人员</td>
                <td><input type="text" v-model="releasepeople" /></td>
            </tr>
            <tr>
                <td>发布时间</td>
                <td><input type="text" v-model="releasetime" value="2019-9-9"/></td>
            </tr>
            <tr>
                <td>读取状态</td>
                <td><input type="text" v-model="readstatus" /></td>
            </tr>
            <tr>
                <td>
                    <button v-on:click="AddAccount()"> 添加</button>
                    <button type="button" data-dismiss="modal">
                        关闭
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#AccountAdd",
        type:"post",
        data: {
            releasecontent: "",
            status: "",
            releasepeople: "",
            releasetime: "",
            readstatus: ""
        },
        methods: {
           
            AddAccount: function () {
                
                var params = new URLSearchParams();
                params.append("releasecontent", this.releasecontent);
                params.append("status", this.status);
                params.append("releasepeople", this.releasepeople);
                params.append("releasetime", this.releasetime);            
                params.append("readstatus", this.readstatus);

                //axios.post('http://localhost:61163/api/Annount/Add', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })

                axios.post('/Annount/Adds', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })
            }
        }
    })
</script>
