
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/vuE/vue.js"></script>
    @*<script src="~/lib/vuE/vue-resource.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vuE/axios.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Update</title>

</head>
<body>
    <div>
        <h2>专业组设置</h2>
    </div>
    <div id="MajorgroupAdd" class="modal-body">
        <table>
            <tr>
                <td>序号</td>
                <td><input type="text" v-model="id" /></td>
            </tr>
            <tr>
                <td>专业组名称</td>
                <td><input type="text" v-model="majorgroupingname" /></td>
            </tr>
            <tr>
                <td>专业颜色 </td>
                <td>

                    <input type="text" v-model="professional" />
                </td>
            </tr>

            <tr>
                <td>关联科室</td>
                <td><input type="text" v-model="therelevant" /></td>
            </tr>
            <tr>
                <td>组员设置</td>
                <td><input type="text" v-model="majorgroupingcrew" /></td>
            </tr>
            <tr>
                <td>是否带教</td>
                <td>
                <td><input type="text" v-model="teaching" /></td></td>
            </tr>
            <tr>
                <td>是否组长</td>
                <td><input type="text" v-model="majorgroupingleader" /></td>
            </tr>
            <tr>
                <td>操作</td>
                <td>
                    <button type="button" data-dismiss="modal">
                        删除
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>