
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/vuE/vue.js"></script>

    <script src="~/lib/vuE/vue-resource.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/vuE/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div>
        <h2>考勤统计汇总</h2><input id="SolitaireShifts" type="text" placeholder="请输入名称" />
        <button id="Button1" class="btn btn-primary btn-2g" onclick="getContent()">查询</button>
        <button class="btn btn-primary btn-2g" data-toggle="modal" data-target="#myModal">添加</button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">消息添加</h4>
                </div>
                <div id="SolitaireSetAdd" class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <td><input type="hidden" id="Id" /></td>
                        </tr>
                        <tr>
                            <td>人员</td>
                            <td><input type="text" v-model="personnel" /></td>
                        </tr>
                        <tr>
                            <td>出勤天数</td>
                            <td><input type="text" v-model="attendanceDays" /></td>
                        </tr>
                        <tr>
                            <td>缺勤天数</td>
                            <td><input type="text" v-model="absenteeismDays" /></td>
                        </tr>
                        <tr>
                            <td>迟到天数</td>
                            <td><input type="text" v-model="belate" /></td>
                        </tr>
                        <tr>
                            <td>早退天数</td>
                            <td><input type="text" v-model="leaveearly" /></td>
                        </tr>
                        <tr>
                            <td>缺卡</td>
                            <td><input type="text" v-model="lackcark" /></td>
                        </tr>
                        <tr>
                            <td>旷工</td>
                            <td><input type="text" v-model="absenteeism" /></td>
                        </tr>
                        <tr>
                            <td>年假</td>
                            <td><input type="text" v-model="annualleave" /></td>
                        </tr>
                        <tr>
                            <td>病假</td>
                            <td><input type="text" v-model="sickleave" /></td>
                        </tr>
                        <tr>
                            <td>事假</td>
                            <td><input type="text" v-model="casualleave" /></td>
                        </tr>
                        <tr>
                            <td>产假</td>
                            <td><input type="text" v-model="maternityleave" /></td>
                        </tr>
                        <tr>
                            <td>婚假</td>
                            <td><input type="text" v-model="marriageleave" /></td>
                        </tr>
                        <tr>
                            <td>丧假</td>
                            <td><input type="text" v-model="funeralleave" /></td>
                        </tr>
                        <tr>
                            <td>探亲假</td>
                            <td><input type="text" v-model="homeleave" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button v-on:click="AddSolitaireSet()"> 添加</button>
                                <button type="button" data-dismiss="modal">关闭 </button>
                            </td>

                            <td>
                                <button v-on:click="Save()"> 修改</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myView">
        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>人员</td>
                <td>出勤天数</td>
                <td>缺勤天数</td>
                <td>迟到天数</td>
                <td>早退天数</td>
                <td>缺卡</td>
                <td>矿工</td>
                <td>年假</td>
                <td>病假</td>
                <td>事假</td>
                <td>产假</td>
                <td>婚嫁</td>
                <td>丧假</td>
                <td>探亲假</td>
                <td>删除</td>
                <td>编辑</td>
            </tr>
            <tr v-for="item in Attendancestatisticssummary">
                <td>{{item.id}}</td>
                <td>{{item.personnel}}</td>
                <td>{{item.attendanceDays}}</td>
                <td>{{item.absenteeismDays}}</td>
                <td>{{item.belate}}</td>
                <td>{{item.leaveearly}}</td>
                <td>{{item.lackcark}}</td>
                <td>{{item.absenteeism}}</td>
                <td>{{item.annualleave}}</td>
                <td>{{item.sickleave}}</td>
                <td>{{item.casualleave}}</td>
                <td>{{item.maternityleave}}</td>
                <td>{{item.marriageleave}}</td>
                <td>{{item.funeralleave}}</td>
                <td>{{item.homeleave}}</td>
                <td>
                    <div v-if="item.id!=''">
                        <a href="#" v-on:click="deleteSolitaireSet(item.id)">删除</a>
                    </div>
                </td>
                <td> <button class="btn btn-primary btn-2g" data-toggle="modal" v-on:click="Upt(item.id)">修改</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#myView",
        data: {
            SolitaireSetlists: []
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function () {
                axios.get("http://localhost:61163/api/Attendances").then((response) => {
                    //console.table(response.data)
                    this.SolitaireSetlists = []
                    for (var i = 0; i < response.data.length; i++) {
                        this.SolitaireSetlists.push(response.data[i]);
                    }
                    console.log(this.SolitaireSetlists)
                });
            },
            //删除
            deleteSolitaireSet: function (id) {
                axios.delete("/Attendances/Delete?ids=" + id).then((response) => {
                    if (response.data > 0) {
                        this.pagehandler();
                    }
                },
                    (response) => {
                        alert(response.status)
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            Upt(id) {
                $("#myView").modal();
                $("#id").val(id);
            }
        }
    });
    //添加和修改
    var vm = new Vue({
        el: "#SolitaireSetAdd",
        type: "post",
        data: {
            solitaireShifts: "",
            solitaireDays: "",
            solitaireOrder: "",
            peopleGroup: "",
            groupLeader: "",
            solitaireOrders: "",
        },
        methods: {

            AddSolitaireSet: function () {

                var params = new URLSearchParams();
                params.append("solitaireShifts", this.solitaireShifts);
                params.append("solitaireDays", this.solitaireDays);
                params.append("solitaireOrder", this.solitaireOrder);
                params.append("peopleGroup", this.peopleGroup);
                params.append("groupLeader", this.groupLeader);
                params.append("solitaireOrders", this.solitaireOrders);

                //axios.post('http://localhost:61163/api/SolitaireSet', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })

                axios.post('/Attendances/Adds', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })
            },
            Upt: function (id) {
                var params = new URLSearchParams();
                params.append("id", this.id);
                params.append("solitaireShifts", this.solitaireShifts);
                params.append("solitaireDays", this.solitaireDays);
                params.append("solitaireOrder", this.solitaireOrder);
                params.append("peopleGroup", this.peopleGroup);
                params.append("groupLeader", this.groupLeader);
                params.append("solitaireOrders", this.solitaireOrders);
                axios.put('/Attendances/Updates', params).then((response) => { alert('修改成功'); location.reload() }).catch(function (response) { alert('失败') })
            }
        }
    })
</script>