
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/lib/vuE/vue.js"></script>

    <script src="~/lib/vuE/vue-resource.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/vuE/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <div>
        <h2>消息通知</h2><input id="ReleaseContent" type="text" placeholder="请输入名称" />
        <button id="Button1" class="btn btn-primary btn-2g" onclick="getContent()">查询</button>
        <button class="btn btn-primary btn-2g" data-toggle="modal" data-target="#myModal">添加</button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">消息添加</h4>
                </div>
                <div id="AccountAdd" class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <td><input type="hidden" id="Id" /></td>
                        </tr>
                        <tr>
                            <td>姓名</td>
                            <td><input type="text" v-model="CrewsName" /></td>
                        </tr>
                        <tr>
                            <td>星期一</td>
                            <td><input type="text" v-model="Monday" /></td>
                        </tr>
                        <tr>
                            <td>星期二</td>
                            <td><input type="text" v-model="Tuesday" /></td>
                        </tr>
                        <tr>
                            <td>星期三</td>
                            <td><input type="text" v-model="Wednesday" /></td>
                        </tr>
                        <tr>
                            <td>星期四</td>
                            <td><input type="text" v-model="Thursday" /></td>
                        </tr>
                        <tr>
                            <td>星期五</td>
                            <td><input type="text" v-model="Friday" /></td>
                        </tr>
                        <tr>
                            <td>星期六</td>
                            <td><input type="text" v-model="Saturday" /></td>
                        </tr>
                        <tr>
                            <td>星期日</td>
                            <td><input type="text" v-model="Sunday" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button v-on:click="AddAccount()"> 添加</button>
                                <button type="button" data-dismiss="modal">
                                    关闭
                                </button>
                                <button v-on: click="Upt()">修改</button>
                            </td>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="myView">
        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <tr v-for="item in Announlist" :key="item.ID">
                <td>{{item.id}}</td>
                <td>{{item.crewsname}}</td>
                <td>{{item.monday}}</td>
                <td>{{item.tuesday}}</td>
                <td>{{item.wednesday}}</td>
                <td>{{item.thursday}}</td>
                <td>{{item.friday}}</td>
                <td>{{item.saturday}}</td>
                <td>{{item.sunday}}</td>
                <td>
                    <div v-if="item.id!=''">
                        <a href="#" v-on:click="deleteAnnount(item.id)">删除</a>
                    </div>
                </td>
                <td> <button class="btn btn-primary btn-2g" data-toggle="modal" v-on:click="Upt(item.id)">修改</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    //显示+q
    var vm = new Vue({
        el: "#myView",
        data: {
            Announlist: []
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function () {
                axios.get("http://localhost:61163/api/Crewscheduling").then((response) => {
                    this.Announlist = []
                    for (var i = 0; i < response.data.length; i++) {
                        this.Announlist.push(response.data[i]);
                    }
                    console.log(this.Announlist)
                });
            },

           deleteAnnount: function (id) {
               axios.delete("/Crewscheduling/Delete?id=" + id).then((response) => {
                   if (response.data > 0) {
                       this.pagehandler();
                   }
               },
                   (response) => {
                       alert(response.status)
                   }
               ).catch(function (response) {
                   alert(response);
               });
           },
        }
    });


    //添加和修改+
    var vm = new Vue({
        el: "#AccountAdd",
        type: "post",
        data: {
            CrewsName: "",
            Monday: "",
            Tuesday: "",
            Wednesday: "",
            Thursday: "",
            Friday: "",
            Saturday: "",
            Sunday: "",
            classes: "",
            Remark: ""
        },
        methods: {

            AddAccount: function () {

                var params = new URLSearchParams();
                params.append("CrewsName", this.CrewsName);
                params.append("Monday", this.Monday);
                params.append("Tuesday", this.Tuesday);
                params.append("Wednesday", this.Wednesday);
                params.append("Thursday", this.Thursday);
                params.append("Friday", this.Friday);
                params.append("Saturday", this.Saturday);
                params.append("Sunday", this.Sunday);
                params.append("classes", this.classes);
                params.append("Remark", this.Remark);

                //axios.post('http://localhost:61163/api/Crewscheduling', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })

                axios.post('/Crewscheduling/Adds', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })
            },
            Upt: function (id) {
                var params = new URLSearchParams();
                params.append("CrewsName", this.CrewsName);
                params.append("Monday", this.Monday);
                params.append("Tuesday", this.Tuesday);
                params.append("Wednesday", this.Wednesday);
                params.append("Thursday", this.Thursday);
                params.append("Friday", this.Friday);
                params.append("Saturday", this.Saturday);
                params.append("Sunday", this.Sunday);
                params.append("classes", this.classes);
                params.append("Remark", this.Remark);
                axios.put('/Crewscheduling/Updtes', params).then((response) => { alert('修改成功'); location.reload() }).catch(function (response) { alert('失败') })




            }
        }
    })
    </script>