
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/lib/vuE/vue.js"></script>

    <script src="~/lib/vuE/vue-resource.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/vuE/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <div>
        <h2>消息通知</h2><input id="ReleaseContent" type="text" placeholder="请输入名称" />
        <button id="Button1" class="btn btn-primary btn-2g" onclick="getContent()">查询</button>
        <button class="btn btn-primary btn-2g" data-toggle="modal" data-target="#myModal">添加</button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">消息添加</h4>
                </div>
                <div id="AccountAdd" class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <td><input type="hidden" id="Id" /></td>
                        </tr>
                        <tr>
                            <td>姓名</td>
                            <td><input type="text" v-model="s.CrewsName" /></td>
                        </tr>
                        <tr>
                            <td>5-28星期一</td>
                            <td><input type="text" v-model="s.Monday" /></td>
                        </tr>
                        <tr>
                            <td>5-29星期二</td>
                            <td><input type="text" v-model="s.Tuesday" /></td>
                        </tr>
                        <tr>
                            <td>5-30星期三</td>
                            <td><input type="text" v-model="s.Wednesday" /></td>
                        </tr>
                        <tr>
                            <td>5-31星期四</td>
                            <td><input type="text" v-model="s.Thursday" /></td>
                        </tr>
                        <tr>
                            <td>6-1星期五</td>
                            <td><input type="text" v-model="s.Friday" /></td>
                        </tr>
                        <tr>
                            <td>6-2星期六</td>
                            <td><input type="text" v-model="s.Saturday" /></td>
                        </tr>
                        <tr>
                            <td>6-3星期日</td>
                            <td><input type="text" v-model="s.Sunday" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button v-on:click="AddAccount()"> 添加</button>
                                <button type="button" data-dismiss="modal">
                                    关闭
                                </button>
                            </td>
                            <td> <button v-on:click="Save()"> 修改</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="myView">
        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <tr v-for="item in Announlist" :key="item.ID">
                <td>{{item.ID}}</td>
                <td>{{item.CrewsName}}</td>
                <td>{{item.Monday}}</td>
                <td>{{item.Tuesday}}</td>
                <td>{{item.Wednesday}}</td>
                <td>{{item.Thursday}}</td>
                <td>{{item.Friday}}</td>
                <td>{{item.Saturday}}</td>
                <td>{{item.Sunday}}</td>
                <td><a href="#" class="btn btn-primary btn-2g" v-on:click="Delete(item.ID)">删除</a></td>
                <td> <button class="btn btn-primary btn-2g" data-toggle="modal" v-on:click="Upt(item.ID)">修改</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    //显示
    var vm = new Vue({
        el: "#myView",
        data: {
            Announlist: []
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function () {
                axios.get("http://localhost:61163/api/Crewscheduling").then((response) => {
                    this.Announlist = []
                    for (var i = 0; i < response.data.length; i++) {
                        this.Announlist.push(response.data[i]);
                    }
                    console.log(this.Announlist)
                });
            },

            deleteAnnount: function (id) {
                axios.delete("/Crewscheduling/Delete?ids=" + id).then((response) => {
                    if (response.data > 0) {
                        this.pagehandler();
                    }
                },
                    (response) => {
                        alert(response.status)
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        }
    });


    //添加和修改
    var vm = new Vue({
        el: "#Add",
        type: "post",
        data: {
            CrewsName: "",
            Monday: "",
            Tuesday: "",
            Wednesday: "",
            Thursday: "",
            Friday: "",
            Saturday: "",
            Sunday: "",
            classes: "",
            Remark: ""
        },
        methods: {

            AddAccount: function () {

                var params = new URLSearchParams();
                params.append("CrewsName", this.CrewsName);
                params.append("Monday", this.Monday);
                params.append("Tuesday", this.Tuesday);
                params.append("Wednesday", this.Wednesday);
                params.append("Thursday", this.Thursday);
                params.append("Friday", this.Friday);
                params.append("Saturday", this.Saturday);
                params.append("Sunday", this.Sunday);
                params.append("classes", this.classes);
                params.append("Remark", this.Remark);

                //axios.post('http://localhost:61163/api/Crewscheduling', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })

                axios.post('/Annount/Add', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('失败') })
            },
            Upt: function (id) {
                var params = new URLSearchParams();
                params.append("CrewsName", this.CrewsName);
                params.append("Monday", this.Monday);
                params.append("Tuesday", this.Tuesday);
                params.append("Wednesday", this.Wednesday);
                params.append("Thursday", this.Thursday);
                params.append("Friday", this.Friday);
                params.append("Saturday", this.Saturday);
                params.append("Sunday", this.Sunday);
                params.append("classes", this.classes);
                params.append("Remark", this.Remark);
                axios.put('/Annount/Add', params).then((response) => { alert('修改成功'); location.reload() }).catch(function (response) { alert('失败') })




            }
        }
    })
    </script>